<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Victor Hugo</string>
	<key>book-info</key>
	<dict>
		<key>package-file-hash</key>
		<string>05B75D15057D0E8C372C36F8DC77A753</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:40F3C08D-6C09-1014-B659-B3EA90F1D4FA</string>
		<key>unique-id</key>
		<integer>-4113540584967030676</integer>
	</dict>
	<key>genre</key>
	<string>Romance</string>
	<key>itemName</key>
	<string>The Hunchback of Notre Dame</string>
	<key>playlistName</key>
	<string>The Hunchback of Notre Dame</string>
	<key>releaseDate</key>
	<string>2010-06-15</string>
	<key>sort-artist</key>
	<string>Hugo, Victor</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
